@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/* HEADER */

header {
  background-color: white;
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 1;
}

header .right {
  margin: 10px 10px;
  color: grey;
}

header .left {
  margin: 15px 10px;
  color: grey;
}

header .leftHeader {
  margin-left: 30px;
  align-items: center;
  width: 100%;
}

.logoDropbox img {
  vertical-align: bottom;
}

.leftHeader span {
  margin-left: 20px;
}

.right span {
  margin-left: 30px;
}

header .start {
  border: 0;
  background-color: #156cff;
  color: white;
  padding: 10px 30px;
}

header .start:hover {
  border: 0;
  background-color: #5a93f6;
  color: white;
  padding: 10px 30px;
}

/* JUMBO TRON */

.jumbo-tron {
  width: 100%;
  background-color: #bdd5e9;
  text-align: left;
}
.title {
  padding: 40px;
  position: relative;
  top: 130px;
}
h1 {
  width: 100%;
  font-size: 4rem;
  font-weight: 900;
  position: relative;
  bottom: 50px;
}

.jumbo-tron .content {
  width: 100%;
}

.content .left-jumbo {
  color: white;
  width: 25%;
  font-size: 1.1rem;
  flex-basis: 40%;
}

#jumboP {
  line-height: 25px;
  margin-bottom: 40px;
  color: black;
}

#jumboP2 {
  line-height: 20px;
  margin-top: 10px;
  color: black;
}

#jumboP3 {
  font-size: 3rem;
  margin-top: 20px;
  color: black;
}

.content .right-jumbo {
  color: white;
  flex-basis: 60%;
}

.left-jumbo .jumboButton {
  border: 0;
  background-color: #156cff;
  color: white;
  padding: 10px 30px;
}

.left-jumbo .jumboButton:hover {
  border: 0;
  background-color: #5a93f6;
  color: white;
  padding: 10px 30px;
}

.right-jumbo > img {
  width: 50vw;
}

/* MAIN PART */

.plans {
  margin-top: 150px;
  margin-bottom: 50px;
  height: 100%;
}

.business input {
  margin-top: 40px;
}

.business .yearly {
  margin-left: 60px;
}

.column-container {
  color: white;
  width: 100%;
  margin-top: 30px;
}

.col {
  width: calc(100% / 3);
  flex-basis: 32%;
}

.users {
  text-align: center;
  padding: 10px;
  border: 1px solid lightgrey;
  color: black;
}

.users .fa-solid {
  margin-right: 10px;
}

.col-content {
  /* background-color: rgb(174, 132, 214); */
  padding: 15px;
  border: 1px solid lightgrey;
  align-items: center;
  font-size: 0.9rem;
  color: black;
  height: 100%;
}

.col-content h3 {
  margin-bottom: 10px;
}

.col-content .money {
  margin-bottom: 10px;
}

.money .italic {
  font-weight: 200;
}

.col-content li {
  list-style: none;
  line-height: 25px;
  margin-top: 30px;
  text-indent: -10px;
  padding-left: 1.2em;
}

li .fa-solid {
  margin-right: 8px;
}

.col-content .freeTest {
  padding: 10px 15px;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #156cff;
  color: white;
  width: 100%;
  border: 0;
}

.col-content .freeTest:hover {
  padding: 10px 15px;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #5a93f6;
  color: white;
  width: 100%;
  border: 0;
}

.line {
  border-top: 1px solid grey;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: grey;
}

li .fa-check {
  color: blue;
  margin-right: 5px;
  font-size: 1rem;
}

.team {
  color: white;
  width: 100%;
  border: 1px solid lightgrey;
}

.row-container {
  padding: 100px 0px;
}

.row-container .rowTitle {
  text-align: center;
  border: 1px solid lightgrey;
  padding: 8px;
  width: 100%;
}

.rowTitle .fa-solid {
  margin-right: 8px;
}

/* PARTE ORIZZONTALE "TEAM" */

.team .left-row {
  width: 80%;
  margin-top: 5px;
  color: black;
}

.team .right-row {
  width: 20%;
  margin-top: 5px;
  margin-right: 20px;
  color: white;
}

.team .contact {
  color: white;
}

.right-row .officeSale {
  padding: 15px;
  width: 100%;
  background-color: #156cff;
  color: white;
  margin-top: 10px;
}

.right-row .officeSale:hover {
  padding: 15px;
  width: 100%;
  background-color: #5a93f6;
  color: white;
  margin-top: 10px;
}

.left-row h3 {
  padding: 0px 30px 0px 30px;
  margin-top: 15px;
}

.left-row p {
  padding: 10px 30px;
}

.left-row div {
  padding: 10px 30px;
  margin-top: 40px;
}

/* SEZIONE PARTNER */

.partner {
  margin-top: 120px;
}

.partnerContent {
  display: flex;
}

.image {
  flex-basis: 60%;
}

.image > img {
  width: 100%;
}

.partner .text-in-touch {
  color: black;
  padding: 30px;
  flex-basis: 40%;
  line-height: 30px;
  align-items: center;
}

.text-in-touch h3 {
  font-size: 1.5rem;
}

.text-in-touch p {
  font-size: 1rem;
  margin-top: 20px;
}

.text-in-touch .partnerButton {
  padding: 15px;
  color: black;
  border: 2px solid black;
  font-size: 1rem;
  margin-top: 30px;
  background-color: white;
}

.text-in-touch .partnerButton:hover {
  padding: 15px;
  color: grey;
  border: 2px solid black;
  font-size: 1rem;
  margin-top: 30px;
}

/* SEZIONE OPERAZIONI DROPBOX BUSINESS */

.operations h2 {
  padding: 20px 0px;
  font-size: 2.5rem;
}

.operations {
  margin-top: 150px;
}

.cards {
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 0px;
}

.card {
  width: 100%;
  padding: 20px 20px;
}

.card-1 {
  width: 100%;
  padding: 20px 20px;
}

.first-row {
  width: 100%;
}

.second-row {
  width: 100%;
}

.card > img {
  width: 100%;
}

.card-1 > img {
  width: 100%;
}

.card h3 {
  font-size: 1.6rem;
}

.card p {
  margin-top: 20px;
}

.card-1 h3 {
  font-size: 1.6rem;
}

.card-1 p {
  margin-top: 20px;
}

/* SEZIONE NUMERO DI TEAM */

.agency {
  padding: 50px 0px;
}

.agency h3 {
  font-size: 3rem;
}

.agency a {
  font-size: 1.2rem;
  padding: 50px 0px;
  display: block;
}

/* SEZIONE QUADRATI COLORATI */

.final-part {
  width: 100%;
}

.col-1 {
  flex-wrap: wrap;
  height: calc(100vw / 3);
  width: 100%;
}

.col-6 {
  width: 100%;
  height: 100%;
}

.col-1 .square {
  width: 50%;
  height: 50%;
}

.sponsor {
  width: 50%;
  position: relative;
  left: 25%;
  top: 40%;
  filter: invert(100%);
}

.col-1 .square-0 {
  background-color: #a2d39b;
  border: 20px solid #cbefc6;
}

.col-1 .square-1 {
  background-color: #61092b;
}

.col-1 .square-2 {
  background-color: #0093ce;
}

.col-1 .square-3 {
  background-color: #ff1b1c;
}

.col-1 .square-4 {
  background-color: #d5001f;
}

.col-1 .square-5 {
  background-color: #a3b2d2;
}

.col-1 .square-6 {
  background-color: #0e2381;
}

.col-1 .square-7 {
  background-color: #feda43;
}

.middle-column {
  padding: 40px;
  width: 50%;
}

.line-1 {
  border-top: 1px solid gray;
  margin-left: 40px;
  width: 20%;
}

.content-middle-column {
  width: 100%;
}

.col-6 .comment {
  line-height: 25px;
  width: 100%;
}

.comment p {
  color: black;
  width: 100%;
  padding: 40px 40px;
}

/* SEZIONE CALL TO ACTION */

.cta {
  background-color: #a3b2d2;
}

.contenitore {
  align-items: center;
  padding: 150px;
}

.ctaTitle {
  font-size: 1.9rem;
}

.ctaButton button {
  padding: 10px;
  width: 100%;
  background-color: white;
  color: black;
  border: 0;
}

.ctaButton button:hover {
  padding: 10px;
  width: 100%;
  background-color: rgb(226, 223, 223);
  color: black;
  border: 0;
}

/* SEZIONE DOMANDE FREQUENTI */

.question {
  padding: 150px;
}

.question h4 {
  font-size: 1.9rem;
}

.question .line-2 {
  border-top: 1px solid gray;
  margin: 30px 0px;
}

.contenutoQuestion p {
  display: none;
  margin-top: 20px;
}

.question:hover p {
  display: block;
}

.question:hover .fa-angle-down {
  transform: rotate(3.142rad);
}

/* SEZIONE FOOTER */

footer {
  background-color: black;
}

.footerCol {
  width: calc(100% / 5);
  color: white;
  padding: 50px;
  line-height: 30px;
}

.footerCol ul {
  list-style: none;
  margin-top: 20px;
  font-size: 0.8rem;
}

.footerCol .line-3 {
  border-top: 1px solid white;
  margin-top: 70px;
}

.footerCol .lang {
  margin-top: 40px;
  color: grey;
}

.lang span {
  font-size: 0.8rem;
  margin-left: 8px;
}

span .fa-sort-up {
  vertical-align: sub;
  margin-left: 3px;
}
